@import "mix.less";

.header {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  text-align: center;
  line-height: 30px;
  position: relative;

  &__fon {
    min-height: 100%;
    background-color: #ffffff;
    background-image: url(../img/header__fon2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 5px;
    z-index: 0;

    &::after {
      content: " ";
      opacity: 0.7;
      background-color: #ffffff;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;

      @media (min-width: 650px) {
        opacity: 0.4;
      }
    }

    @media (min-width: 1800px) {
      min-height: 889px;
      background-color: #ffffff;
      background-image: url(../img/header__fon.png),
        url(../img/header__fon1.png),
        url(../img/header__fon2.png),
        url(../img/header__fon3.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0 0, 0 315px, 0 50px, 0 512px;

      &::after {
        content: none;
      }
    }
  }

  &__logo {
    margin: 10px 0 10px 10px;

    @media (min-width: 650px) {
      margin: 25px 0 28px 30px;
    }

    @media (min-width: 1088px) {
      margin: 25px 0 28px 200px;
    }
  }

  &__wrap {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 2;
    width: 100%;

    @media (min-width: 650px) {
      flex-flow: row nowrap;
      justify-content: start;
    }

  }

  &__nav {
    display: flex;
    width: 100%;
  }

  &__lang {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    z-index: 2;
    width: 100%;

    @media (min-width: 1800px) {
      margin: 0 0 0 200px;
    }
  }

  &__list {
    display: block;
    color: #000000;
    border-radius: 15px;


    &:hover {
      color: #5f2966;
    }

    &:active {
      &::after {
        display: block;
      }
    }

    &--activ {
      &::after {
        display: block;
      }
    }

    &:last-child>span {
      &::after {
        content: "";
      }
    }

    @media (min-width: 650px) {
      color: #959595;
      border-radius: 0;
      background: transparent;

      &::after {
        content: "";
        display: none;
        width: 46px;
        height: 1px;
        opacity: 0.41;
        background-color: #647397;
        margin: 0 0 0 15px;
      }

      &:hover {
        font-weight: 700;
      }

      &:active {
        font-weight: 700;
      }

      &--activ {
        font-weight: 700;
      }
    }
  }

  &__item {
    margin: 0 10px;

    @media (min-width: 650px) {
      margin: 0 0 0 15px;

      &::after {
        content: "/";
        margin: 0 0 0 15px;
      }
    }
  }

  &__social {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    margin: 0;
    padding: 0;
    z-index: 2;
    width: 100%;

    @media (min-width: 650px) {
      position: absolute;
      right: 34px;
      top: 323px;
      flex-flow: column wrap;
    }
  }

  &__title {
    width: 100%;
    margin: 30px 0;
    opacity: 0.83;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 600;
    color: #fc2028;
    z-index: 2;

    @media (min-width: 650px) {
      margin: 135px 0 15px 0;
      font-size: 60px;
      color: #454545;
    }
  }

  &__inner {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    z-index: 2;

    @media (min-width: 650px) {
      flex-flow: row wrap;
    }
  }

  &__caption {
    font-size: 22px;
    color: #464646;
    margin: 0 5px 0 0;

    @media (min-width: 650px) {
      font-size: 36px;
    }
  }

  &__subtitle {
    font-size: 22px;
    color: #fc2028;

    @media (min-width: 650px) {
      font-size: 36px;
    }
  }

  &__account {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 30px 0 50px 0;
    z-index: 2;

    @media (min-width: 650px) {
      margin: 79px 0 100px 0;
    }

    @media (min-width: 1088px) {
      margin: 79px 0 331px 0;
    }
  }

  &__items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 25px 0 0;
    width: 46px;
    height: 46px;
    background-color: #5f2966;
    background: linear-gradient(to right, #636c93, #5f316b);
    border-radius: 50%;

    // &:hover {
    //   width: 150px;
    //   height: 46px;
    //   border-radius: 28px;
    //   margin: 5px 25px 5px 0;

    //   & .header__link {
    //     &::before {
    //       display: none;
    //     }
    //   }

    //   .header__text {
    //     visibility: visible;
    //   }
    // }

    &--hover {
      width: 150px;
      height: 46px;
      border-radius: 28px;
      margin: 5px 25px 5px 0;

      & .header__link {
        &::before {
          display: none;
        }
      }

      .header__text {
        visibility: visible;
      }
    }

    @media (min-width: 650px) {
      // &:hover {
      //   width: 246px;
      //   height: 56px;
      // }

      &--hover {
        width: 246px;
        height: 56px;
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;

    &::before {
      content: " ";
      display: block;
      width: 50px;
      height: 22px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 12px 12px 12px 14px;
    }

    &--user {
      &::before {
        background-image: url(../img/account_1.png);
      }
    }

    &--apple {
      &::before {
        background-image: url(../img/account_2.png);
      }
    }

    &--google {
      &::before {
        width: 37px;
        background-image: url(../img/account_3.png);
      }
    }
  }

  &__text {
    visibility: hidden;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }
}