@import "mix.less";

.logo {
  display: flex;
  text-decoration: none;
  font-size: 30px;
  line-height: 10px;
  font-weight: 700;
  letter-spacing: 0.002em;
  order: 2;

  @media (min-width: 650px) {
    line-height: 14px;
    order: 1;
  }

  &:hover {
    & .logo__text {
      color: #858688;
    }

    & .logo__title {
      color: #5b4295;
    }
  }

  &:active {

    & .logo__text,
    & .logo__title {
      color: #454545;
    }
  }

  &__text {
    color: #5b4295;
  }

  &__title {
    color: #858688;
  }
}