@import "mix.less";

.security {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  position: relative;
  width: 100%;

  &__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__types {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-end;
    margin: 0 5px 0 5px;
  }

  &__title {
    margin: 50px 0 20px 0;
    font-size: 40px;
    font-weight: 400;
    color: #535353;
  }

  &__text {
    margin: 0 0 25px 60px;
    max-width: 665px;
    text-align: right;
    font-size: 24px;

    &--selection {
      color: #f65151;
    }
  }

  &__btn {
    display: block;
    box-sizing: border-box;
    align-self: flex-end;
    width: 200px;
    padding: 5px;
    margin: 0 100px 40px 0;
    border: 1px solid #b9b9b9;
    border-radius: 31px;
    text-decoration: none;

    &:hover {
      transform: scale(1.2);

      & .security__txt {
        color: #f65151;
      }
    }
  }

  &__txt {
    font-size: 16px;
    color: #676767;
  }
}

@media (min-width: 650px) {
  .security {
    &__types {
      margin: 0 15px 0 15px;
    }

    &__title {
      font-size: 50px;
    }

    &__text {
      margin: 0 0 25px 150px;
    }

    &__btn {
      width: 334px;
      padding: 10px;
    }
  }
}

@media (min-width: 1088px) {
  .security {
    &__wrap {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 15px;
        right: 0;
        width: 192px;
        height: 1px;
        background-color: #b9b9b9;
      }
    }

    &__types {
      align-content: center;
      margin: 0 25px 0 25px;
    }

    &__title {
      margin: 111px 0 32px 0;
      font-size: 60px;
    }

    &__text {
      margin: 0 0 25px 465px;
    }

    &__btn {
      width: 334px;
      padding: 15px;
      margin: 0 450px 40px 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 653px;
      display: block;
      width: 1px;
      height: 433px;
      background-color: #b9b9b9;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 70px;
      left: 0;
      display: block;
      width: 984px;
      height: 1px;
      background-color: #bfbfbf;
    }
  }
}