@import "mix.less";

.services {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  align-content: center;

  &__item {}

  &__link {
    text-decoration: none;
    display: block;
    width: 130px;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 974px;
    height: 92px;
    opacity: 0.76;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../img/services__fon.png");
  }

  &__title {
    margin: 22px 5px 5px 0;
    line-height: 26px;
    color: #7a7a7a;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -22px;
      right: -17px;
      width: 1px;
      height: 441px;
      background-color: #b9b9b9;
    }
  }
}